<!DOCTYPE html>
<html xmlns:th="http://www.thmeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Simple</title>
</head>
<body>
<div style="max-width:1200px;margin: 0 auto">
    <h2>Post</h2>
    <form th:action="@{''}" th:object="${post}" method="post">
        <p>
            <label th:for="title">Title : </label>
            <input type="text" th:field="*{title}" disabled/>
        </p>
        <div style="max-width:800px">
            <textarea th:field="*{content}" rows="10" style="width:100%" disabled></textarea>
        </div>
    </form>
    <p><a th:href="@{/}">Back</a></p>
</div>
</body>
</html>